$color-principal: #d8eceb;
$color-secundario: #755095;
$color-terciario: #8d67a1;
$color-titulos: #2a1039;
$color-textos: #000000;
$color-bg-negro: #0909097a;
$color-titulos-verde: #3e4c39;
$color-header: #3048448f;
$blur: blur(46px);
