footer {
  @include flexbox(column, space-between, flex-start);
  background-color: rgba(97, 130, 129, 0.623);
  padding: 2rem;
  width: 100%;
  color: #112522;
  height: 90px;
  font-size: 0.8rem;
}

//Medias Queries

@media screen and (min-width: 590px) {
  footer {
    flex-direction: row;
  }
}
@media screen and (min-width: 880px) {
  .footer {
    font-size: 1rem;
  }
}
